<div class="footer">
   <ul class="nav">
    <% if current_user %>
      <li>
        <%= link_to current_user.name, current_user %>
      </li>
      <li>
        <%= link_to "Signout", signout_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "+ Add yourself through Github", "/auth/github" %>
      </li>
    <% end %>
  </ul>
  <p id="byline">
    Created by <%= link_to "Chris Keathley", "https://github.com/spyc3r" %>,
     <%= link_to "Anthony Blardo", "https://github.com/blardo" %>, and
     <%= link_to "Adam Haney", "https://github.com/adamhaney" %>
  </p>
</div>